USE [master]
GO
/****** Object:  Database [Event_dress_rental_db]    Script Date: 19/04/2026 01:10:51 ******/
CREATE DATABASE [Event_dress_rental_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Event_dress_rental_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Event_dress_rental_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Event_dress_rental_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Event_dress_rental_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Event_dress_rental_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Event_dress_rental_db]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/04/2026 01:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dresses]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[size] [nvarchar](20) NOT NULL,
	[price] [int] NOT NULL,
	[note] [text] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Dresses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[id] [int] IDENTITY(1000,3) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[img_url] [nvarchar](max) NOT NULL,
	[base_price] [int] NOT NULL,
	[color] [nvarchar](max) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models_Categories]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models_Categories](
	[model_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_Models_Categories] PRIMARY KEY CLUSTERED 
(
	[model_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dress_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
 CONSTRAINT [PK_Order_Items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NOT NULL,
	[event_date] [date] NOT NULL,
	[final_price] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[status_id] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/04/2026 01:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](max) NOT NULL,
	[last_name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [description]) VALUES (1, N'נסיכות הבוטיק', N'קולקציית חלומות לילדות: שכבות טול, פנינים ועיצובים מהאגדות')
INSERT [dbo].[Categories] ([id], [name], [description]) VALUES (2, N'שיק צעיר ורענן', N'נבחרת שמלות לנערות המשלבת טרנדים בינלאומיים עם צניעות מוקפדת')
INSERT [dbo].[Categories] ([id], [name], [description]) VALUES (3, N'אופנת עילית (ערב)', N'שמלות ערב יוקרתיות לנשים המעצבות מראה אצילי ובלתי נשכח')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dresses] ON 

INSERT [dbo].[Dresses] ([id], [model_id], [size], [price], [note], [is_active]) VALUES (1, 1006, N'10', 440, N'מצב מעולה!\', 1)
INSERT [dbo].[Dresses] ([id], [model_id], [size], [price], [note], [is_active]) VALUES (2, 1036, N'36', 550, N'מצב פרימיום', 0)
INSERT [dbo].[Dresses] ([id], [model_id], [size], [price], [note], [is_active]) VALUES (3, 1039, N'36', 620, N'מצב פרימיום', 1)
SET IDENTITY_INSERT [dbo].[Dresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([id], [name], [description], [img_url], [base_price], [color], [is_active]) VALUES (1003, N'ענן של וניל', N'יצירת מופת של שכבות טול משי רכות כענן, מעוטרת בעבודת יד של פניני זכוכית עדינות לאורך המחשוף', N'dress1.png', 350, N'ורוד', 1)
INSERT [dbo].[Models] ([id], [name], [description], [img_url], [base_price], [color], [is_active]) VALUES (1006, N'שושנת העמקים', N'סאטן איטלקי בגימור מבריק עם אפליקציות פרחי תחרה מוזהבים שמתפרסים מהמותן ומטה', N'dress2.png', 380, N'תכלת', 1)
INSERT [dbo].[Models] ([id], [name], [description], [img_url], [base_price], [color], [is_active]) VALUES (1009, N'נימפת היער', N'שיפון צרפתי נשפך בגוון ירוק עמוק, המעניק תחושת ריחופ ונוחות מקסימלית לאורך כל האירוע', N'dress3.png', 320, N'סגול', 1)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
INSERT [dbo].[Models_Categories] ([model_id], [category_id]) VALUES (1003, 1)
INSERT [dbo].[Models_Categories] ([model_id], [category_id]) VALUES (1006, 1)
INSERT [dbo].[Models_Categories] ([model_id], [category_id]) VALUES (1009, 1)
GO
SET IDENTITY_INSERT [dbo].[Order_Items] ON 

INSERT [dbo].[Order_Items] ([id], [dress_id], [order_id]) VALUES (46, 88, 36)
INSERT [dbo].[Order_Items] ([id], [dress_id], [order_id]) VALUES (47, 88, 37)
INSERT [dbo].[Order_Items] ([id], [dress_id], [order_id]) VALUES (48, 71, 38)
SET IDENTITY_INSERT [dbo].[Order_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [order_date], [event_date], [final_price], [user_id], [note], [status_id]) VALUES (36, CAST(N'2026-02-26' AS Date), CAST(N'2026-02-26' AS Date), 390, 19, N'', 2)
INSERT [dbo].[Orders] ([id], [order_date], [event_date], [final_price], [user_id], [note], [status_id]) VALUES (37, CAST(N'2026-02-26' AS Date), CAST(N'2026-02-26' AS Date), 390, 19, N'', 1)
INSERT [dbo].[Orders] ([id], [order_date], [event_date], [final_price], [user_id], [note], [status_id]) VALUES (38, CAST(N'2026-02-26' AS Date), CAST(N'2026-02-26' AS Date), 320, 19, N'כגב', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3155, N'localhost:44362', N'POST      ', N'/api/Users/login', N'https://localhost:44362/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-04-15T22:46:28.083' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3156, N'localhost:44362', N'POST      ', N'/api/Users/login', N'https://localhost:44362/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-04-15T22:46:37.553' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3157, N'localhost:44362', N'PUT       ', N'/api/Users/5', N'https://localhost:44362/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-04-15T22:49:49.090' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([id], [name]) VALUES (1, N'נקלטה')
INSERT [dbo].[Statuses] ([id], [name]) VALUES (2, N'נארזה')
INSERT [dbo].[Statuses] ([id], [name]) VALUES (3, N'הושלמה')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [phone], [password]) VALUES (5, N'ישראל', N'ישראלי', N'string@gmail.com', N'0534166445', N'yisraelYYY123#')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [phone], [password]) VALUES (19, N'ריקי', N'פינקל', N'riki@gmail.com', N'5817220', N'ri329334528')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [phone], [password]) VALUES (24, N'rut', N'levi', N'jj@gmail.com', N'0527650012', N'beni329334')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Dresses] ADD  CONSTRAINT [DF_Dresses_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Models] ADD  CONSTRAINT [DF_Models_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_order_date]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Dresses]  WITH CHECK ADD  CONSTRAINT [FK_Dresses_Models] FOREIGN KEY([model_id])
REFERENCES [dbo].[Models] ([id])
GO
ALTER TABLE [dbo].[Dresses] CHECK CONSTRAINT [FK_Dresses_Models]
GO
ALTER TABLE [dbo].[Models_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Models_Categories_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Models_Categories] CHECK CONSTRAINT [FK_Models_Categories_Categories]
GO
ALTER TABLE [dbo].[Models_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Models_Categories_Models] FOREIGN KEY([model_id])
REFERENCES [dbo].[Models] ([id])
GO
ALTER TABLE [dbo].[Models_Categories] CHECK CONSTRAINT [FK_Models_Categories_Models]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_Dresses] FOREIGN KEY([dress_id])
REFERENCES [dbo].[Dresses] ([id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_Dresses]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([status_id])
REFERENCES [dbo].[Statuses] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
USE [master]
GO
